SINKERS/Connected Services/WCFSnikers/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60031/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFSnikers" />
  <xs:element name="GetProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFSnikers" minOccurs="0" name="GetProductosResult" nillable="true" type="q1:ArrayOfProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusqueda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objetivo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusquedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFSnikers" minOccurs="0" name="GetBusquedaResult" nillable="true" type="q2:ArrayOfProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFSnikers" minOccurs="0" name="cliente" nillable="true" type="q3:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetClienteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFSnikers" minOccurs="0" name="compra" nillable="true" type="q4:Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetCompraResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDetalleCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFSnikers" minOccurs="0" name="detalle_compra" nillable="true" type="q5:DetalleCompra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDetalleCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDetalleCompraResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarLoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>