SINKERS/Connected Services/WCFSnickers/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://interfacesavanzadas.somee.com/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://interfacesavanzadas.somee.com/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://interfacesavanzadas.somee.com/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PRUEBA1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductos" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBusqueda_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBusqueda" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBusqueda_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBusquedaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_SetCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientes" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCompra" />
  </wsdl:message>
  <wsdl:message name="IService1_SetCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetDetalleCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDetalleCompra" />
  </wsdl:message>
  <wsdl:message name="IService1_SetDetalleCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDetalleCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_VerificarLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_VerificarLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBusquedaMarcaModelo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBusquedaMarcaModelo" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBusquedaMarcaModelo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBusquedaMarcaModeloResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBusquedaClave_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBusquedaClave" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBusquedaClave_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBusquedaClaveResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetProductos" message="tns:IService1_GetProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetProductosResponse" message="tns:IService1_GetProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBusqueda">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBusqueda" message="tns:IService1_GetBusqueda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBusquedaResponse" message="tns:IService1_GetBusqueda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetCliente" message="tns:IService1_SetCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetClienteResponse" message="tns:IService1_SetCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetClientes" message="tns:IService1_GetClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetClientesResponse" message="tns:IService1_GetClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetCompra" message="tns:IService1_SetCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetCompraResponse" message="tns:IService1_SetCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDetalleCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetDetalleCompra" message="tns:IService1_SetDetalleCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetDetalleCompraResponse" message="tns:IService1_SetDetalleCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/VerificarLogin" message="tns:IService1_VerificarLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/VerificarLoginResponse" message="tns:IService1_VerificarLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBusquedaMarcaModelo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBusquedaMarcaModelo" message="tns:IService1_GetBusquedaMarcaModelo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBusquedaMarcaModeloResponse" message="tns:IService1_GetBusquedaMarcaModelo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBusquedaClave">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBusquedaClave" message="tns:IService1_GetBusquedaClave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBusquedaClaveResponse" message="tns:IService1_GetBusquedaClave_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductos">
      <soap:operation soapAction="http://tempuri.org/IService1/GetProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusqueda">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBusqueda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/SetCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientes">
      <soap:operation soapAction="http://tempuri.org/IService1/GetClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCompra">
      <soap:operation soapAction="http://tempuri.org/IService1/SetCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDetalleCompra">
      <soap:operation soapAction="http://tempuri.org/IService1/SetDetalleCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/VerificarLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusquedaMarcaModelo">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBusquedaMarcaModelo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusquedaClave">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBusquedaClave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://interfacesavanzadas.somee.com/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>