SINKERS/Connected Services/WCFSnickers/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://interfacesavanzadas.somee.com/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PRUEBA1" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PRUEBA1" minOccurs="0" name="GetProductosResult" nillable="true" type="q1:ArrayOfProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusqueda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objetivo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusquedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PRUEBA1" minOccurs="0" name="GetBusquedaResult" nillable="true" type="q2:ArrayOfProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PRUEBA1" minOccurs="0" name="cliente" nillable="true" type="q3:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetClienteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PRUEBA1" minOccurs="0" name="GetClientesResult" nillable="true" type="q4:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PRUEBA1" minOccurs="0" name="compra" nillable="true" type="q5:Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetCompraResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDetalleCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PRUEBA1" minOccurs="0" name="detalle_compra" nillable="true" type="q6:DetalleCompra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDetalleCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDetalleCompraResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarLoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusquedaMarcaModelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objetivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusquedaMarcaModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PRUEBA1" minOccurs="0" name="GetBusquedaMarcaModeloResult" nillable="true" type="q7:ArrayOfProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusquedaClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objetivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusquedaClaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PRUEBA1" minOccurs="0" name="GetBusquedaClaveResult" nillable="true" type="q8:ArrayOfProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>